.Login {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(351deg, #1F2833, #45A29E 40%, #1F2833 70%, #45A29E);
    background-image: linear-gradient(351deg, #1F2833, #45A29E 40%, #1F2833 70%, #45A29E);
    background-image: linear-gradient(99deg, #1F2833, #45A29E 40%, #1F2833 70%, #45A29E);
    position: absolute;
    top: 0;
    left: 0;
    display: flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .login_container {
    border-radius: 8px;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26);
    background-image: linear-gradient(353deg, #1F2833, #45A29E);
    background-image: linear-gradient(97deg, #1F2833, #45A29E);
    width: 30vw;
    height: 50vh;
    display: flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
  }

  .login_title {
    font-size: 40px;
    font-weight: 500;
  }
  
  .login_input_box {
    display: flexbox;
    display: flex;
    justify-content: space-between;
    width: 65%;
    flex-direction: column;
  }
  
  .login_input_box > input:focus {
    outline-color: #45A29E;
    outline-width: 5px;
  }
  
  .login_button_container {
    display: flexbox;
    display: flex;
    justify-content: space-around;
    width: 55%;
    flex-direction: column;
  }

  .App {
    padding: 20px 20px 20px 100px;
    font-family: 'Open Sans', 'Courier New', Courier, monospace;
    background-color: #f2f2f2;
    min-width: 100%;
    min-height: 100vh;
  }
  
  .dark_button {
    border-radius: 1px;
    background-image: radial-gradient(circle at 50% -46%, #737373, #403d39);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    color: white;
    border: none;
  }
  
  .content_box {
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .title {
    font-size: 30px;
    font-weight: 700;
    color: #45A29E;
    margin: 0 0 10px;
  }

  .Register {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(351deg, #1F2833, #45A29E 40%, #1F2833 70%, #45A29E);
    background-image: linear-gradient(351deg, #1F2833, #45A29E 40%, #1F2833 70%, #45A29E);
    background-image: linear-gradient(99deg, #1F2833, #45A29E 40%, #1F2833 70%, #45A29E);
    position: absolute;
    top: 0;
    left: 0;
    display: flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .register_container {
    border-radius: 8px;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26);
    background-image: linear-gradient(353deg, #1F2833, #45A29E);
    background-image: linear-gradient(97deg, #1F2833, #45A29E);
    width: 30vw;
    height: 50vh;
    display: flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
  }

  .register_title {
    font-size: 40px;
    font-weight: 500;
  }
  
  .register_input_box {
    display: flexbox;
    display: flex;
    justify-content: space-between;
    width: 65%;
    flex-direction: column;
  }
  
  .register_input_box > input:focus {
    outline-color: #45A29E;
    outline-width: 5px;
  }
  
  .register_button_container {
    display: flexbox;
    display: flex;
    justify-content: space-around;
    width: 55%;
    flex-direction: column;
  }