.Home {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(351deg, #1F2833, #45A29E 40%, #1F2833 70%, #45A29E);
  background-image: linear-gradient(351deg, #1F2833, #45A29E 40%, #1F2833 70%, #45A29E);
  background-image: linear-gradient(99deg, #1F2833, #45A29E 40%, #1F2833 70%, #45A29E);
  position: absolute;
  top: 0;
  left: 0;
  display: flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 75px;
  text-align: center;
}

.title_container {
  border-radius: 8px;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26);
  background-image: linear-gradient(353deg, #1F2833, #45A29E);
  background-image: linear-gradient(97deg, #1F2833, #45A29E);
  width: 50vw;
  height: 50vh;
  display: flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;

}

.button {
  padding: 100px;
  position: absolute;
  bottom: 90px;
  right: 270px;
}


.Login {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(351deg, #1F2833, #45A29E 40%, #1F2833 70%, #45A29E);
    background-image: linear-gradient(351deg, #1F2833, #45A29E 40%, #1F2833 70%, #45A29E);
    background-image: linear-gradient(99deg, #1F2833, #45A29E 40%, #1F2833 70%, #45A29E);
    position: absolute;
    top: 0;
    left: 0;
    display: flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .login_container {
    border-radius: 8px;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26);
    background-image: linear-gradient(353deg, #1F2833, #45A29E);
    background-image: linear-gradient(97deg, #1F2833, #45A29E);
    width: 30vw;
    height: 50vh;
    display: flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
  }

  .login_title {
    font-size: 40px;
    font-weight: 500;
  }
  
  .login_input_box {
    display: flexbox;
    display: flex;
    justify-content: space-between;
    width: 65%;
    flex-direction: column;
  }
  
  .login_input_box > input:focus {
    outline-color: #45A29E;
    outline-width: 5px;
  }
  
  .login_button_container {
    display: flexbox;
    display: flex;
    justify-content: space-around;
    width: 55%;
    flex-direction: column;
  }

  .App {
    padding: 20px 20px 20px 100px;
    font-family: 'Open Sans', 'Courier New', Courier, monospace;
    background-color: #f2f2f2;
    min-width: 100%;
    min-height: 100vh;
  }
  
  .dark_button {
    border-radius: 1px;
    background-image: radial-gradient(circle at 50% -46%, #737373, #403d39);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    color: white;
    border: none;
  }

  .Register {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(351deg, #1F2833, #45A29E 40%, #1F2833 70%, #45A29E);
    background-image: linear-gradient(351deg, #1F2833, #45A29E 40%, #1F2833 70%, #45A29E);
    background-image: linear-gradient(99deg, #1F2833, #45A29E 40%, #1F2833 70%, #45A29E);
    position: absolute;
    top: 0;
    left: 0;
    display: flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .register_container {
    border-radius: 8px;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.25), 0 10px 10px 0 rgba(0, 0, 0, 0.26);
    background-image: linear-gradient(353deg, #1F2833, #45A29E);
    background-image: linear-gradient(97deg, #1F2833, #45A29E);
    width: 30vw;
    height: 50vh;
    display: flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
  }

  .register_title {
    font-size: 40px;
    font-weight: 500;
  }
  
  .register_input_box {
    display: flexbox;
    display: flex;
    justify-content: space-between;
    width: 65%;
    flex-direction: column;
  }
  
  .register_input_box > input:focus {
    outline-color: #45A29E;
    outline-width: 5px;
  }
  
  .register_button_container {
    display: flexbox;
    display: flex;
    justify-content: space-around;
    width: 55%;
    flex-direction: column;
  }

.Nav {
  width: 120px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  color: white;
  background-image: linear-gradient(353deg, #1F2833, #45A29E);
  background-image: linear-gradient(97deg, #1F2833, #45A29E);
  box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.1), 5px 0 5px rgba(0, 0, 0, 0.2);
}

.Nav > div {
  margin: 0 0 45px;
}

.nav_profile_container {
  height: 200px;
  display: flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav_profile_pic {
  margin-top: 60px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: white;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 20px #333;
}

.nav_links {
  height: 120px;
  display: flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.schedule_img {
  position: absolute;
  bottom: 300px;
  right: 30px;
}

.nav_img {
  width: 60px;
}

.logout {
  position: absolute;
  bottom: 80px;
  left: 30px;
}

  .post-container {
    display: inline-flexbox;
    margin-top: 80px;
    background-color: green;

  }

  .author_box {
    background-color: limegreen;
  }

  .input-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: inline-flexbox;
    margin-left: 100px;
    align-items: center;
    padding: 15px;
    width: 50vw;
    height: 10vh;
    border-radius: 10px;
    background-color: red;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    
  }
  textarea {
    outline: none;
    resize: none;
    overflow: auto;
    width: 700px;
    height: 40px;
    justify-content: center;
	
  }

  .content_box {
    background-color: blue;
  }

  .post-comment-text {
    background-color: purple;
  }